.tv-button {
  padding: 10px 15px;
  border-radius: 0;
  text-decoration: none;
  background: $yellow;
}

.tv-button-link {
  background: none;
  color: $yellow;
  padding: 0;
  cursor: pointer;
  &:after{
    content: "\279D";
    display: inline-block;
  }
  &:hover {
    text-decoration: underline;
  }
}